@use '@/styles/variables.scss' as *;
@use '@/styles/utils.scss';

// prettier-ignore

*, *::before, *::after {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

body {
	color: $dark;
	background: $light;

	font-size: $font-size;
	font-family: 'Poppins', sans-serif;
}

@media (max-width: 600px) {
	main {
		font-size: calc($font-size / 1.5);
	}
}

@media (max-width: 350px) {
	main {
		font-size: calc($font-size / 2);
	}
}
