@use '@/styles/variables.scss' as *;

a {
	color: inherit;
	text-decoration: none;
}

.darkmode {
	color: $light;
	background: $dark;
}

.darkmode-smooth {
	transition: color 300ms, background 300ms;
}
